@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500;600&display=swap');

* {margin: 0; padding: 0; border: 0; outline: 0;}

.fl {float: left;}
.fr {float: right;}
.cb {clear: both;}
.cl {clear: left;}
.cf:after {
    content: '';
    display: block;
    clear: both;
}
ul,li {list-style: none;}

a:link {text-decoration: none;}
.hidden {display: none;}
img {padding: 0;margin: 0;border: 0;}
html{overflow-y: scroll;}

body{font-family: 'Noto Sans KR';}


#header_wrap{
    width: 1420px;
    height: 75px;
    margin: 0 auto;
}
#header_wrap h1{
    width: 200px;
    height: 75px;
    float: left;
    box-sizing: border-box;
}
#header_wrap h1 img{
    margin-top: 15px;
}


/* 메인메뉴 */
#header_wrap nav{
    position: relative;
    float: left;
    z-index: 1000;
}
#header_wrap nav > ul{
    float: left;
    background: #ffffff;
    height: 75px;
    font-size: 20px;
}
#header_wrap nav > ul > li{
    float: left;
    width: 180px;
    height: 75px;
    text-align: center;
}
li.on{
    border-bottom: 3px solid #c5383b;
}
#header_wrap nav > ul > li > a{
    color: #333333;
    width: 160px;
    height: 75px;
    line-height: 75px;
    font-weight: bold;
    letter-spacing: 0.1em;
}
#header_wrap nav > ul > li > a:hover{
    color: #c5383b;
}

/* 서브메뉴 */
#header_wrap nav ul.sub{
    position: relative;
    text-align: center;
    left: 0;
    height: 0px;
    font-size: 16px;
    z-index: 1000;
    transition: height 0.6s;
    overflow: hidden;
}
#header_wrap nav > ul:hover ul.sub{
    height: 300px;
}
#header_wrap nav ul.sub li{
    height: 38px;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
}
#header_wrap nav ul.sub li a{
    display: block;
    color: #888888;
    width: 100%;
    height: 80px;
    line-height: 60px;
    z-index: 10;
    letter-spacing: 1px;
    font-weight: normal;
}
#header_wrap nav ul.sub li a:hover{
    font-weight: bold;
    color: #c5383b;
}

.sub_shadow {
    position: absolute;
    left: 0;
    top: 75px;
    z-index: 10;
    width: 100%;
    height: 0;
    background-color: #ffffff;
    transition: all 0.6s;
    z-index: 100;
    background: url(../images/index/section3/section3_bg.png) no-repeat right bottom #ffffff;
    background-size: 680px;
}
nav:hover + .sub_shadow{
    height: 300px;
    border-bottom: 2px solid #c5383b;
}
nav:hover ul.sub{
    border-top: 1px solid #e9e9e9;
}







#footer_wrap{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #f6f6f6;
    overflow: hidden;
}
#footer{
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}


.footer_link a,.footer_link p{
    color: #555555;
    float: left;
    margin: 30px 10px 5px 0;
    font-size: 14px;
    font-weight: bold;
}
.footer_link p{
    font-weight: normal;
    font-size: 11px;
}
.footer_contents{
    width: 100%;
    font-size: 14px;
    line-height: 30px;
    float: left;
    color: #888888;
    padding: 5px 0 20px 0;
}
.footer_contents a{
    border: 1px solid #888888;
    background-color: #ffffff;
    padding: 2px 20px;
    font-weight: bold;
    color: #555555;
    margin-left: 10px;
}
.footer_bottom{
    float: left;
    width: 100%;
    border-top: 1.5px solid #cfcfcf;
}
.footer_site{
    position: absolute;
    right: 0;
    top: 30px;
}
.footer_site select{
    width: 200px;
    height: 50px;
    color: #555555;
    background-color: #ffffff;
    text-align: center;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #888888;
}
.footer_site select option{
    font-size: 14px;
}
.footer_bottom img{
    float: left;
    margin-top: 20px;
}
.footer_bottom p{
    float: left;
    color: #888888;
    font-size: 14px;
    margin: 40px 0 0 30px;
}

.footer_bottom .sns{
    float: right;
    font-size: 25px;
    margin-top: 30px;
}
.footer_bottom .sns a{
    color: #666666;
    margin-left: 5px;
}