@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500;600&display=swap');


* {margin: 0; padding: 0; border: 0; outline: 0;}

.fl {float: left;}
.fr {float: right;}
.cb {clear: both;}
.cl {clear: left;}
.cf:after {
    content: '';
    display: block;
    clear: both;
}
ul,li {list-style: none;}

a:link {text-decoration: none;}
.hidden {display: none;}
img {padding: 0;margin: 0;border: 0;}
html{overflow-y: scroll;}

body{font-family: 'Noto Sans KR';}

#section1{
    position: relative;
    background: #ffffff;
    width: 100%;
    height: 975px;
}
#section1 #header_wrap{
    width: 1420px;
    height: 75px;
    margin: 0 auto;
}
#header_wrap h1{
    width: 200px;
    height: 75px;
    float: left;
    box-sizing: border-box;
}
#header_wrap h1 img{
    margin-top: 15px;
}


/* 메인메뉴 */
#header_wrap nav{
    position: relative;
    float: left;
    z-index: 1000;
}
#header_wrap nav > ul{
    float: left;
    background: #ffffff;
    height: 75px;
    font-size: 20px;
}
#header_wrap nav > ul > li{
    float: left;
    width: 190px;
    height: 75px;
    text-align: center;
}
li.on{
    border-bottom: 3px solid #c5383b;
}
#header_wrap nav > ul > li > a{
    color: #333333;
    width: 190px;
    height: 75px;
    line-height: 75px;
    font-weight: bold;
    letter-spacing: 0.1em;
}
#header_wrap nav > ul > li > a:hover{
    color: #c5383b;
}

/* 서브메뉴 */
#header_wrap nav ul.sub{
    position: relative;
    text-align: center;
    left: 0;
    height: 0px;
    font-size: 16px;
    z-index: 1000;
    transition: height 0.6s;
    overflow: hidden;
}
#header_wrap nav > ul:hover ul.sub{
    height: 300px;
}
#header_wrap nav ul.sub li{
    width: 190px;
    height: 42px;
    box-sizing: border-box;
}
#header_wrap nav ul.sub li a{
    display: block;
    color: #888888;
    width: 100%;
    height: 42px;
    line-height: 42px;
    z-index: 10;
    font-weight: normal;
}
#header_wrap nav ul.sub li a:hover{
    font-weight: bold;
    color: #c5383b;
}

.sub_shadow {
    position: absolute;
    left: 0;
    top: 75px;
    z-index: 10;
    width: 100%;
    height: 0;
    background-color: #ffffff;
    transition: all 0.6s;
    z-index: 100;
    background: url(../images/index/section3/section3_bg.png) no-repeat right bottom #ffffff;
    background-size: 680px;
}
nav:hover + .sub_shadow{
    height: 300px;
    border-bottom: 2px solid #c5383b;
}
nav:hover ul.sub{
    border-top: 1px solid #e9e9e9;
}


/* content1 */
#content1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 슬라이드 글씨 */
#BgTxt{
    position: relative;
    z-index: 0;
    top: 105px;
    width: 100%;
    height: 162px;
    background: url(../images/index/section1/bg1_txt.png) repeat-x 0 0;
    animation-name: slidetxt;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes slidetxt{
    0% {background-position: 0 0;}
    100% {background-position: -10000px 0;}
}

/* 왼쪽 글씨 */
#leftTxt{
    width: 550px;
    background-color: aliceblue;
    padding-left: 80px;
    box-sizing: border-box;
}
#leftTxt p{
    position: absolute;
    font-family: 'Oleo Script';
    font-size: 200px;
    color: #c5383b;
    line-height: 1em;
    top: 50%;
    transform: translateY(-50%);
}

/* 중앙 제품 */
#show_product{ 
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -165px;
    text-align: center;
    overflow: hidden;
}
#show_product > div{
    position: relative;
    width: 100%;
    height: 100%;
}
#show_product > div ul{
    position: relative;
    width: 680px;
    margin: 0 auto;
}
#show_product > div li{
    height: 975px;
}
#show_product > div li img{
    position: relative;
    margin-top: 180px;
} 
#show_product > div li.product{
    position: absolute;
    width: 680px;
    z-index: 20;
    text-align: center;
} 
#show_product > div .product img{
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: rotate;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    
    animation-name: rotate;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    width: 215px;
    
}
@keyframes rotate{
    0%{transform: rotate(5deg);} 
    25%{transform: rotate(-5deg);} 
  50%{transform: rotate(5deg);} 
  75%{transform: rotate(-5deg);} 
  100%{transform: rotate(5deg);}
}

#show_product > div li.bg {
    position: relative;
    width: 680px;
}
#show_product > div li.bg img{
    position: relative;
    width: 660px;
    margin-top: 300px;
}

/* 오른쪽 텍스트 */
#show_product > div > div{
    position: absolute;
    bottom: 100px;
    right: -190px;
    border-radius: 50%;
    width: 735px;
    height: 735px;
    background-color: #c5383b;
    transition: all 0.6s;
}
#show_product > div > div a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    font-size: 190px;
    font-family: 'Neuton';
    font-weight: 700;
    letter-spacing: 5px;
    color: rgba(126, 33, 33, 0.7);
    transition: color 0.2s;
    text-align: center;
}
#show_product > div > div:hover{
    right: -80px;
}
#show_product > div > div:hover a{
    color: #ffffff;
}

/* 하단제품 */
#bottom_product{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1650px;
    height: 250px;
    padding-top: 30px;
    bottom: 0;
    overflow: hidden;
    z-index: 20;
}
#bottom_product ul li{
    position: relative;
    float: left;
    width: 120px;
    margin: 0 40px;
    transition: all 0.4s;
}
#bottom_product ul li img{
    position: relative;
    top: 0;
}
#bottom_product ul li:hover{
    margin-top: -30px;
}






/* section2 */
#section2{
    position: relative;
    width: 100%;
    height: 975px;
    background-color: #c5383b;
    overflow: hidden;
}
#section2_wrap{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
#left_txt2{
    position: absolute;
    left: 5%;
    float: left;
    width: 140px;
    height: 100%;
    box-sizing: border-box;
}
#left_txt2{
    background: url(../images/index/section2/left_txt2.png) repeat-y 0 0;
    animation-name: slidetxt2-1;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
#right_txt2{
    position: absolute;
    right: 5%;
    float: right;
    width: 140px;
    height: 100%;
    box-sizing: border-box;
}
#right_txt2{
    background: url(../images/index/section2/left_txt2.png) repeat-y 0 0;
    animation-name: slidetxt2-2;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes slidetxt2-1{
    0% {background-position: 0 0;}
    100% {background-position: 0 -10000px;}
}
@keyframes slidetxt2-2{
    0% {background-position: 0 0;}
    100% {background-position: 0 10000px;}
}

#slider-wrapper{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

/* 동영상 영역 */
ul.s-slides{
    height: 750px;
    width: 1200px;
    overflow: hidden;
    clear: both;
}

ul.s-slides li{
    position: relative;
    height: 750px;
    width: 1100px;
    margin: 0 auto;
    padding-top: 20px;
}
ul.s-slides li p{
    width: 100%;
    font-family: 'Neuton';
    font-size: 80px;
    letter-spacing: 2px;
    color: #ffffff;
    background: url(../images/index/section2/txtline.png) no-repeat right 70px;
    background-size: 700px;
}
ul.s-slides iframe{
    width: 1100px;
    height: 600px;
}
/* 썸네일 영역 */
div.s-thumbs{
    text-align: center;
    width: 1100px;
    overflow: hidden;
    margin-top: 0px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}
div.s-thumbs ul{
    position: relative;
    width: 2100px;
}
div.s-thumbs li{
    position: relative;
    float: left;
    width: 200px;
    margin-right: 30px;
}
figure.snip1200 {
    position: relative;
    overflow: hidden;
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-family: 'Neuton';
    font-size: 30px;
    width: 200px;
    height: 140px;
}
figure.snip1200 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  overflow: hidden;
}
figure.snip1200 img {
    position: relative;
    opacity: 0.5;
}
figure.snip1200 figcaption {
    position: absolute;
    top: 7%;
    left: 7%;
    right: 7%;
    bottom: 7%;
    border: 1px solid #888888;
    opacity: 1;
}
figure.snip1200 p {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    opacity: 1;
    font-size: 30px;
}
figure.snip1200 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}
figure.snip1200:hover img,
figure.snip1200.hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
figure.snip1200:hover figcaption,
figure.snip1200.hover figcaption {
    opacity: 1;
    top: 35%;
    bottom: 35%;
    border: 1px solid transparent;
}
figure.snip1200:hover p,
figure.snip1200.hover p {
    opacity: 1;
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}
div.s-thumbs li:last-child{margin-right: 0;}
div.s-thumbs li img{
    width: 200px;
    height: 140px;
}



/* 화살표 */
.prev1_2{
    width: 30px;
    height: 140px;
    position: relative;
    background-color: #c5383b;
    z-index: 1000;
    padding-right: 12px;
    cursor: pointer;
    z-index: 1000;
    bottom: 140px;
}
.next1_2{
    height: 140px;
    width: 30px;
    background-color: #c5383b;
    position: relative;
    cursor: pointer;
    z-index: 1000;
    bottom: 140px;
}
.prev1_2 img, .next1_2 img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* section3 */
#section3{
    position: relative;
    width: 100%;
    height: 975px;
    background-color: #ffffff;
    background: url(../images/index/section3/section3_bg.png) no-repeat 645px 535px;
    overflow: hidden;
}
#section3_wrap{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

#top_txt3{
    width: 100%;
    font-size: 90px;
    font-family: 'Neuton';
    color: #c5383b;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 70px;
}

#gallery{
    float: left;
    height: 100%;
}
#gallery img{
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    z-index: 8;
    opacity: 0.0;
}
#gallery img.active{
    z-index: 10;
    opacity: 1.0;

}
#gallery img.last-active{
    z-index: 9;
}


#txt_Box3{
    margin-top: 53px;
    float: right;
    width: 730px;
}
#txt_Box3 h3{
    font-size: 47px;
    color: #5a1717;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 10px;
}
#txt_Box3 h4{
    font-size: 28px;
    font-weight: 600;
    padding: 20px 0;
    color: #d63535;
    font-family: 'Noto Serif KR';
    padding-left: 10px;
}
#txt_Box3 p{
    width: 650px;
    font-size: 22px;
    font-weight: 300;
    background-color: #ffffff;
    line-height: 40px;
    padding-bottom: 50px;
    padding-left: 10px;
}



/* section4 */
#section4{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #f6f6f6;
    overflow: hidden;
}
#footer{
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}


.footer_link a,.footer_link p{
    color: #555555;
    float: left;
    margin: 30px 10px 5px 0;
    font-size: 14px;
    font-weight: bold;
}
.footer_link p{
    font-weight: normal;
    font-size: 11px;
}
.footer_contents{
    width: 100%;
    font-size: 14px;
    line-height: 30px;
    float: left;
    color: #888888;
    padding: 5px 0 20px 0;
}
.footer_contents a{
    border: 1px solid #888888;
    background-color: #ffffff;
    padding: 2px 20px;
    font-weight: bold;
    color: #555555;
    margin-left: 10px;
}
.footer_bottom{
    float: left;
    width: 100%;
    border-top: 1.5px solid #cfcfcf;
}
.footer_site{
    position: absolute;
    right: 0;
    top: 30px;
}
.footer_site select{
    width: 200px;
    height: 50px;
    color: #555555;
    background-color: #ffffff;
    text-align: center;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #888888;
}
.footer_site select option{
    font-size: 14px;
}
.footer_bottom img{
    float: left;
    margin-top: 20px;
}
.footer_bottom p{
    float: left;
    color: #888888;
    font-size: 14px;
    margin: 40px 0 0 30px;
}

.footer_bottom .sns{
    float: right;
    font-size: 25px;
    margin-top: 30px;
}
.footer_bottom .sns a{
    color: #666666;
    margin-left: 5px;
}